button {
  margin: 10px;

}

.start-button {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #3a86ff;
  box-shadow: 0 5px #4433ff;
}
.start-button:hover {
  box-shadow: 0 3px #4433ff;
  top: 1px;
}
.start-button:active {
  box-shadow: 0 0 #4433ff;
  top: 5px;
}

.reset-button {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #ef233c;
  box-shadow: 0 5px #d90429;
}
.reset-button:hover {
  box-shadow: 0 3px #d90429;
  top: 1px;
}
.reset-button:active {
  box-shadow: 0 0 #d90429;
  top: 5px;
}

.wake-lock-toggle {
  margin: 15px 0; /* Add space around the toggle */
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center; /* Center-align it */
}

.wake-lock-toggle .switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.wake-lock-toggle .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.wake-lock-toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.wake-lock-toggle .slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.wake-lock-toggle input:checked + .slider {
  background-color: #4caf50;
}

.wake-lock-toggle input:checked + .slider:before {
  transform: translateX(14px);
}
