.pomodoro {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #ef233c;
  box-shadow: 0 5px #d90429;
}
.pomodoro:hover {
  box-shadow: 0 3px #d90429;
  top: 1px;
}
.pomodoro:active {
  box-shadow: 0 0 #d90429;
  top: 5px;
}

.tabata {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: #80ed99;
  box-shadow: 0 5px #57cc99;
}
.tabata:hover {
  box-shadow: 0 3px #57cc99;
  top: 1px;
}
.tabata:active {
  box-shadow: 0 0 #57cc99;
  top: 5px;
}
