.navbar {
  display: flex;
  justify-content: space-between; /* This puts space between the logo and the nav links */
  align-items: center; /* Aligns items vertically */
  padding: 0 20px; /* Adds space around the content */
  background-color:#AFDDE5; /* Background color for the navbar */
  color: white; 
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  position: sticky;
  top: 0;
  z-index: 1002;
}


.logo {
  font-size: 1.5em;
  font-weight: bold;
  color: rebeccapurple;
}

.nav-links {
  list-style: none; /* Remove bullet points */
  display: flex; /* Align list items horizontally */
  gap: 20px; /* Adds space between list items */
}

.nav-links .link {
  color: rebeccapurple;
}

.nav-links li {
  cursor: pointer; 
}

.nav-links li:hover {
  text-decoration: underline; /* underline the links on hover */
}

.signout {
min-width: 130px;
height: 40px;
color: #fff;
padding: 5px 10px;
font-weight: bold;
cursor: pointer;
transition: all 0.3s ease;
position: relative;
display: inline-block;
outline: none;
border-radius: 5px;
border: none;
background: #343a40;
box-shadow: 0 5px #212529;
}
.signout:hover {
box-shadow: 0 3px #212529;
top: 1px;
}
.signout:active {
box-shadow: 0 0 #212529;
top: 5px;
}

@media (max-width: 600px) {
  .navbar {
    padding: 10px;
  }

}