html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "EB Garamond", sans-serif;
}

.App {
  text-align: center;
  background: linear-gradient(to right, rgb(0, 128, 255), rgb(38, 217, 172)); ;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
  padding: 20px;
  background-color: rgba(38,217,72,1);
  opacity: 0.95;
  background-image: radial-gradient(circle at center center, rgba(0,28,255,1), rgba(38,217,72,1)), repeating-radial-gradient(circle at center center, rgba(0,28,255,1), rgba(0,28,255,1), 10px, transparent 20px, transparent 10px);
  background-blend-mode: multiply;
  overflow-y: auto;
}



.container {
  background-color: #024950;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
/*  margin-bottom: 20px;*/
  width: 100%;
  max-width: 600px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index:1;
}

@media (max-width: 600px) {
  .container {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}











