/*.App {
  text-align: center;
  background-color: darkslategrey;
   min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-size: calc(10px + 2vmin);
  color: white;
}*/



html,body {
  height: 100%;
  overflow-x:hidden;
}

.App {
  text-align: center;
  background-color: dimgray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "EB Garamond", sans-serif;
  font-size: calc(10px + 2vmin);
  color: whitesmoke;
  padding: 20px;
}

.container {
  background-color: darkslategrey;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;
/*  transition: transform 0.3s ease, box-shadow 0.3s ease;*/
}











